<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/static/libs/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>用户名</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i>在线</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">功能菜单</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active treeview">
                <a href="#"><i class="fa fa-link"></i> <span>结算</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a data-href="/admin/customorders" href="javascript:void(0)" data-title="账单列表">账单列表</a></li>
                    <li><a data-href="/admin/orderdetail" href="javascript:void(0)" data-title="详单查询">详单查询</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>食材采购</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">采购单列表</a></li>
                    <li><a href="#">采购详单</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>基本信息管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a data-href="/admin/menu" href="javascript:void(0)" data-title="菜单管理">菜单管理</a></li>
                    <li><a data-href="/admin/material" href="javascript:void(0)" data-title="食材管理">食材管理</a></li>
                    <li><a data-href="/admin/foodCategory" href="javascript:void(0)" data-title="食材管理">菜品种类管理</a></li>
                    <li><a data-href="/admin/materialCategory" href="javascript:void(0)" data-title="食材种类管理">食材种类管理</a></li>
                    <li><a data-href="/admin/foodSupply" href="javascript:void(0)" data-title="菜品供应量管理">菜品供应量管理</a></li>
                    <li><a data-href="/admin/foodMaterial" href="javascript:void(0)" data-title="菜品食材用量管理">菜品食材用量管理</a></li>
                    <li><a data-href="/admin/provider" href="javascript:void(0)" data-title="供应商管理">供应商管理</a></li>
                    <li><a data-href="/admin/measurement" href="javascript:void(0)" data-title="计量单位管理">计量单位管理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>用户管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a data-href="/admin/users" href="javascript:void(0)" data-title="用户管理">用户管理</a></li>
                    <li><a href="#">角色管理</a></li>
                    <li><a href="#">权限管理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>统计报表</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">当日统计</a></li>
                    <li><a href="#">本周统计</a></li>
                    <li><a href="#">本月统计</a></li>
                    <li><a href="#">年度统计</a></li>
                </ul>
            </li>

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>