<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyingwillow.restaurant.mapper.RoleMapper">


	<!-- select -->
	<select id="getRoleList" parameterType="HashMap" resultType="Role">
		SELECT * FROM roles
		<where>
			<if test="null!=id">AND id=#{id}</if>
			<if test="null!=name">AND name=#{name}</if>
		</where>
		<if test="null!=start and null!=size">
			LIMIT #{start},#{size}
		</if>
	</select>

	<select id="getPermissionsByRole" parameterType="int" resultType="String">
		SELECT permission FROM roles_permissions
		WHERE roleId = #{roleId}
	</select>


	<!-- insert -->
	<insert id="saveRole" parameterType="Role" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO roles(name, createTime, del)
		VALUES (#{name}, UNIX_TIMESTAMP()*1000, 0)
	</insert>


	<!-- update -->
	<update id="updateRole" parameterType="Role">
		UPDATE roles
		<set>
			<if test="null!=name">name = #{name},</if>
			<if test="null!=del">del = #{del},</if>
		</set>
		WHERE id = #{id}
	</update>

	<!-- delete -->
	<delete id="deleteRole" parameterType="int">
		DELETE FROM roles
		WHERE id = #{id}
	</delete>
	
</mapper>
