<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>餐饮管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    #parse("/layout/iframe/head_include.vm")
</head>

<body class="hold-transition">
<div class="wrapper">

    $screen_content

</div>
<!-- ./wrapper -->
#parse("/layout/iframe/foot_include.vm")
#if(!$!needScript)
#else
<script type="text/javascript" src="/static/js/$!{jspath}"></script>
#end

</body>
</html>