<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx 
       	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<import resource="spring_beans.xml"/>

    <import resource="spring_mybatis.xml"/>

	<import resource="springContext_thread.xml"/>

	<import resource="springContext_http.xml"/>

    <import resource="spring_quartz.xml"/>

    <import resource="springContext_velocity.xml"/>

    <import resource="spring_jedis.xml"/>

    <import resource="spring_shiro.xml"/>

</beans>