<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- test job-->
    <!--<bean id="testJob" class="com.netease.autopicture.task.TestTask"/>-->
    <!--<bean id="testTaskBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="testTask"/>
        </property>
        <property name="targetMethod">
            <value>quartz</value>
        </property>
    </bean>
    <bean id="doTime" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="testTaskBean"/>
        </property>
        <property name="cronExpression">
            <value>*/30 * * * * ?</value>
        </property>
    </bean>-->
    <!-- next task -->


    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="autoStartup" value="${quartz.autoStartup}" />
        <property name="triggers">
            <list>
                <!--<ref bean="doTime"/>-->

            </list>
        </property>
    </bean>

</beans>
